.button {
    display: grid;
    place-items: center;
    background-color: var(--color-nord4);
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.icon {
    display: block;
    width: 26px;
    height: 26px;
    mask-image: url("../img/icon-edit.svg");
    mask-position: center;
    mask-size: cover;
    background-color: var(--color-nord3);
}
