.wrap {
    --height: 200px;
    background-image: linear-gradient(var(--color-nord1) var(--height), transparent var(--height));
}

.text {
    background-color: var(--color-nord6);
    padding: 40px;
}

.link {
    color: rgb(45, 112, 228);
}

@media (any-hover: hover) {
    .link:hover span {
        background-size: 100% 1px;
    }
}

.link span {
    background-image: linear-gradient(rgb(45, 112, 228), rgb(45, 112, 228));
    background-position: 0 100%;
    background-size: 0 1px;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease;
}
